@import "tailwindcss";

* {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;

    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;

    color: var(--color-text-primary);
    background: var(--color-background);
}

button,
input,
textarea,
select {
    font: inherit;
}

button,
a,
input {
    -webkit-tap-highlight-color: transparent;
}

.sub-menu {
    overflow: hidden;
    transition: height 300ms;
}